@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body{
    font-family: 'Aldrich', sans-serif; 
}

.footer small{
    color: #fff !important;
}

strong {
    color:gray;
}

#AboutTitle{
    font-size: 250%;
}

.intro1{
    padding-bottom: 30%;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("../images/sg.jpg"); 
    color:azure;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
    }
#AboutOpt{
    font-size: 150%;
}

#AboutInsights{
    font-size: 150%;
}