@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body{
     
}

.footer small{
    color:azure;
}

strong {
    color:gray;
}

#AboutTitle{
    font-size: 250%;
}

.intro1{
    padding-bottom: 30%;
}

#AboutOpt{
    font-size: 250%;
}

#AboutInsights{
    font-size: 250%;
}