@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body{
    font-family: 'Aldrich', sans-serif; 
}

.footer small{
    color: #fff !important;
}

strong {
    color:gray;
}

/* Text over Video */
#AboutTitle {
    position: absolute; 
}

.intro1{
    padding-bottom: 400px;
    color:azure;
    
}

.container1 .container2 .container3 .container4 .container5{
    padding-top:30%;
    padding-bottom:30%; 
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
        #intro1 {
          margin-top: -58.59px;
        }
    }
#AboutOpt{
    font-size: 150%;
}

#AboutInsights{
    font-size: 150%;
    position: absolute;
    color:azure;
}

#insights{
    color:azure;
}

#insights1{
    position: absolute;
    padding-top:30%;  
    color:black;
}

#talk1{
    position: relative;
    color:black;
    padding: 3%;
    background-color: #fff;
    
}

#AboutInsights1{
    font-size: 150%;
    position: absolute;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
    
  }

#LAN video{
    position: relative;
    border-radius: 0px;
    filter: brightness(100%);
}

#insightsvid video{
    height: 500px;
    filter: brightness(50%);
}

  
  #archives a:hover { text-shadow: 0 0 5px; }
  a:link { text-decoration: none; }

  /* Disclaimer Modal */
  .modal-sheet .modal-dialog {
    width: 380px;
    transition: bottom .75s ease-in-out;
  }
  .modal-sheet .modal-footer {
    padding-bottom: 2rem;
  }
  
  .modal-alert .modal-dialog {
    width: 380px;
  }
  
  .modal-tour .modal-dialog {
    width: 380px;
  }


